body {
    margin: 0;
    padding: 0;
    /* font-family: "Inter", sans-serif; */
    font-family: "Space Grotesk", sans-serif;
    font-size: 13px;
    background-color: #fff;
    color: #0f1111;
    height: 100vh;
    width: 100vw;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 70px;
    background-color: #fff;
    position: sticky;
    /* width: 100%; */
    top: 0 !important;
    z-index: 99;
    /* border-bottom: #eaebed 1.5px solid; */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
}

.menu-icon {
    display: none;
}

.nav-elements {}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-elements ul li{
    line-height: 0px;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 65px;
}

.nav-elements ul li a {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.nav-elements ul a {
    font-weight: 400;
    text-decoration: none;
}

.is-responsive-header {
    display: none !important;
}

@media (max-width: 1200px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        font-size: 13px;
        position: fixed;
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
        max-width: 450px;
        z-index: 99999;
        transform: translateX(-500px);
        background-color: #FFFFFF;
        visibility: hidden;
        -webkit-box-shadow: 0 15px 30px -4px rgb(0 0 0 / 9%);
        -moz-box-shadow: 0 15px 30px -4px rgb(0 0 0 / .09);
        box-shadow: 0 15px 30px -4px rgb(0 0 0 / 17%);
        transition: opacity 0.8s cubic-bezier(.19, 1, .22, 1), visibility 0.8s cubic-bezier(.19, 1, .22, 1), transform 0.6s cubic-bezier(.19, 1, .22, 1);
    }

    .nav-elements.active {
        transform: none;
        left: 0;
        visibility: visible;
        transition: opacity 0.4s cubic-bezier(.19, 1, .22, 1), visibility 0.4s cubic-bezier(.19, 1, .22, 1), transform 0.4s cubic-bezier(.19, 1, .22, 1);
    }

    .is-responsive-header {
        display: block !important;
    }

    .is-desktop-header {
        display: none !important;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 0px !important;
        margin-top: 25px;
    }

    .nav-elements ul li {
        margin-right: 0px !important;
        color: #000000;
        width: 100%;
        padding: 14px 30px;
        /* border-bottom: 1px solid #eaebed; */
        line-height: 1.6 !important;
    }

    .nav-elements ul li:hover {
        background-color: #f7f7f7;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-content {
    /* display: none; */
    position: absolute;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    padding: 17px;
    width: max-content;
    background: #fff;
    color: #000;
    z-index: 999;
    min-width: 120px;
    right: -12px;
    min-width: 140px;
    border-top: 0.1px solid #eeeeee;
}

.dropdown:hover .dropdown-content {
    /* display: flex; */
    flex-direction: column;
}

.dropdown-content-list {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.dropdown-content-list:hover {
    scale: 1.03;
}

/* Design */
.container-left {
    display: flex;
    align-items: start;
    column-gap: 17px;
}

.menu-tabs-group {
    display: flex;
    align-items: center;
    gap: 1px;
    width: 100%;
}

.menu-tab {
    flex: 1 0 auto;
    padding: 16px 10px;
    text-align: center;
    background-color: #fff;
    color: #161616;
    /* text-transform: uppercase; */
    cursor: pointer;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: #EAEBED;
    font-weight: 600;
    letter-spacing: .1px;
    width: 50%;
}

.menu-tab:hover,
.menu-tab.active {
    background-color: #f7f7f7;
    border-color: #E1E2E3;
}

.top-header {
    font-size: 12px !important;
    border-bottom: 1px solid #EAEBED;
    width: 100%;
    font-size: 10px;
    font-weight: 400 !important;
    letter-spacing: .3px;
    background: #fdfdfd;
    color: #333;
}

.top-header-inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 40px;
    height: 100%;
    gap: 20px;
    position: relative;
}

.top-header-left,
.top-header-right {
    display: flex;
    align-items: center;
    column-gap: 40px;
    color: #333;
}

.side-panel {
    font-size: 13px;
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    max-width: 500px;
    z-index: 999999;
    transform: translateX(500px);
    background-color: #FFFFFF;
    visibility: hidden;
    -webkit-box-shadow: 0 15px 30px -4px rgb(0 0 0 / 9%);
    -moz-box-shadow: 0 15px 30px -4px rgb(0 0 0 / .09);
    box-shadow: 0 15px 30px -4px rgb(0 0 0 / 17%);
    transition: opacity 0.8s cubic-bezier(.19, 1, .22, 1), visibility 0.8s cubic-bezier(.19, 1, .22, 1), transform 0.6s cubic-bezier(.19, 1, .22, 1);
}

.side-panel.active {
    transform: none;
    right: 0;
    visibility: visible;
    transition: opacity 0.4s cubic-bezier(.19, 1, .22, 1), visibility 0.4s cubic-bezier(.19, 1, .22, 1), transform 0.4s cubic-bezier(.19, 1, .22, 1);
}

.side-panel-container {
    padding: 0px 25px;
    margin: 30px 0px;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 100vh;
    padding-bottom: 70px;
}

.side-panel-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s cubic-bezier(.19, 1, .22, 1), visibility 0.8s cubic-bezier(.19, 1, .22, 1), transform 0.6s cubic-bezier(.19, 1, .22, 1);
}

.side-panel-overlay.active {
    opacity: 1;
    visibility: visible;
}

.side-panel-close {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 15px;
}