@import "tailwindcss";

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    font-size: unset;
}

/* FONT SIZE */
.font-size-11 {
    font-size: 11px !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-15 {
    font-size: 15px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-17 {
    font-size: 17px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-19 {
    font-size: 19px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-21 {
    font-size: 21px !important;
}

.font-size-22 {
    font-size: 22px !important;
}

.font-size-23 {
    font-size: 23px !important;
}

.font-size-24 {
    font-size: 24px !important;
}

.font-size-25 {
    font-size: 25px !important;
}

.font-size-26 {
    font-size: 26px !important;
}

.font-size-27 {
    font-size: 27px !important;
}

.font-size-28 {
    font-size: 28px !important;
}

.font-size-29 {
    font-size: 29px !important;
}

.font-size-30 {
    font-size: 30px !important;
}

/* MARGIN TOP */
.mt-0 {
    margin-top: 0px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-7 {
    margin-top: 7px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-17 {
    margin-top: 17px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-150 {
    margin-top: 150px !important;
}


/* MARGIN BOTTOM */
.mb-0 {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-17 {
    margin-bottom: 17px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

/* MARGIN LEFT */
.ml-5 {
    margin-left: 5px !important;
}

.ml-7 {
    margin-left: 7px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-17 {
    margin-left: 17px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

/* MARGIN RIGHT */
.mr-5 {
    margin-right: 5px !important;
}

.mr-7 {
    margin-right: 7px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-17 {
    margin-right: 17px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* PADDING TOP */
.pt-5 {
    padding-top: 5px !important;
}

.pt-7 {
    padding-top: 7px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-17 {
    padding-top: 17px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

/* PADDING BOTTOM */
.pb-2 {
    padding-bottom: 2px !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}


.pb-7 {
    padding-bottom: 7px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-17 {
    padding-bottom: 17px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-25 {
    padding-bottom: 25px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

/* PADDING LEFT */
.pl-0 {
    padding-left: 0px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-7 {
    padding-left: 7px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-12 {
    padding-left: 12px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-17 {
    padding-left: 17px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-25 {
    padding-left: 25px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

/* PADDING RIGHT */
.pr-5 {
    padding-right: 5px !important;
}

.pr-7 {
    padding-right: 7px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-12 {
    padding-right: 12px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-17 {
    padding-right: 17px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-25 {
    padding-right: 25px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.w-100 {
    width: 100% !important;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.border-radius-0 {
    border-radius: 0px !important;
}

.border-radius-1 {
    border-radius: 1px !important;
}

.border-radius-2 {
    border-radius: 2px !important;
}

.border-radius-5 {
    border-radius: 5px !important;
}

.border-radius-10 {
    border-radius: 10px !important;
}


/* custom css */

ul {
    line-height: 1.5;
    padding-left: 25px;
}

li {
    line-height: 1.8;
}

p {
    line-height: 1.8;
}

.text-start {
    text-align: start !important;
}

.text-center {
    text-align: center !important;
}

.align-start {
    align-content: start !important;
}

.align-center {
    align-content: center !important;
}

.layout-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer !important;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 13px 22px;
    border-radius: 100px;
    width: max-content;
    font-family: "Space Grotesk", sans-serif;
    transition: background-color 0.1s ease-in-out;
    background: #f0f0f0;
    color: #000;
    font-size: 13px;
}

.btn:hover {
    background: #e5e5e5;
}

.fit-content {
    width: fit-content !important;
}

.inline-block {
    display: inline-block !important;
}

input {
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.3;
    border: none;
    background: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    border: 1px solid #eaebed;
    padding: 13px 30px 13px 30px;
    outline: none;
    color: #000 !important;
    display: block;
    font-size: 13px;
    border-radius: 100px;
}

.input-search input {
    width: 400px;
    background-color: #F7F7F8 !important;
}

.input-normal {
    border: 1px solid #eaebed;
    padding: 15px !important;
    outline: none;
    width: 100%;
}

textarea {
    font-family: "Space Grotesk", sans-serif;
    /* resize: none; */
    border: #eaebed 1.5px solid;
    outline: none;
    padding: 12px 15px;
    line-height: 1.8;
    background-color: #fff;
    color: #333;
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-class {
    position: absolute;
    top: 12px;
    left: 20px;
    pointer-events: none;
}

.icon-class-end {
    position: absolute;
    top: 15px;
    right: 20px;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.input-field {
    padding-left: 50px;
    width: 100%;
    border-radius: 100px;
    /* Adjust for icon */
}

.box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.01);
}